@import 'navbar';
@import 'home';
@import 'about';
@import 'skills';
@import 'services';
@import 'projects';
@import 'BackToTop';
@import 'DarkModeToggle';
@import 'footer';

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  overflow-x: hidden; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}